/* police pour la nav et le footer */
@font-face {
  font-family: "Creepster";
  src: url("../fonts/creepster/Creepster-Regular.woff2") format("woff2"),
    url("../fonts/creepster/Creepster-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* police pour les titres */

@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat/montserrat-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* taille de la police */
body {
  font-size: 16px;
}

/* tous les ul */
ul {
  list-style-type: none;
}
/* tous mes paragraphe */
p,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

/* tous mes strong */
strong {
  font-weight: 900;
}

/* tous mes h1 h2 h3 */

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: "montserratregular", sans-serif;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}

/* Variables */
:root {
  --textWhite: #fff;
  --textBlack: #000000;
  --buttonValid: #8f9779;
  --hoverLien: #a90f0f;
  --backgroundPage: #101010;
  --buttonRed: #ff0000;
  --buttonGreen: #32a822;
  --hoverGreen: #17dc4b;
}

/* --------------------HEADER-------------------- */
header {
  width: 100%;
  padding: 0 10px;
  color: var(--textWhite);
  background-image: linear-gradient(to bottom, #ff0000, #000000);
}

/*  header nav */

header #navHeader {
  display: flex;
  align-items: center;
}

/* taille du logo header */
header #logoHeader img {
  height: 80px;
}

/* div ulMenuHeader */
header #navHeader #ulMenuHeader {
  display: flex;
  width: 100%;
}
/*  ul */
header #navHeader #ulMenu {
  display: flex;
  justify-content: center;
  margin: auto;
}
/* styles de la nav ul li a */
header #navHeader #ulMenu li a {
  text-decoration: none;
  color: var(--textWhite);
  margin: 0 20px;
  font-size: 1.1rem;
  font-family: "Creepster", sans-serif;
  transition: color 0.7s ease;
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  -webkit-transition: color 0.7s ease;
  -moz-transition: color 0.7s ease;
  -ms-transition: color 0.7s ease;
  -o-transition: color 0.7s ease;
}

header #navHeader #ulMenu li a:hover {
  color: var(--hoverLien);
}

/* marge entre les boutons d'authentification */
header #navHeader #buttonAuthentification button {
  margin: 4px;
}

/* Style pour le bouton S'inscrire */
header #navHeader #buttonRegistration,
header #navHeader #buttonDeconnect {
  background-color: var(--buttonRed);
  color: var(--textWhite);
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

header #navHeader #buttonRegistration:hover,
header #navHeader #buttonDeconnect:hover {
  background-color: var(--hoverLien);
}

/* Style pour le bouton Se connecter */
header #navHeader #buttonConnect {
  background-color: var(--buttonGreen);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

header #navHeader #buttonConnect:hover,
header #navHeader #buttonProfile:hover {
  background-color: var(--buttonValid);
}

/* bouton de profil visible lorsqu'il est connecté */
header #navHeader #buttonProfile {
  background-color: var(--buttonGreen);
  color: var(--textWhite);
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* menu burger en display none et le bouton croix egalement  */
header #navHeader #burger {
  display: none;
}

header #navHeader #close {
  display: none;
}

/* id qui me permet de changer de photo aléatoirement tous les minutes */
#background-header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ----------------------------alert error ou validator----------------------------------------- */

/* design des alertes */
.alert {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  text-align: center;
}
/* l'alerte si tout est validé */
.alert-success {
  background-color: #d4edda;
  color: var(--buttonGreen);
  border-color: #c3e6cb;
}
/* l'alerte si il y a une erreur */
.alert-danger {
  background-color: var(--buttonRed);
  color: var(--textWhite);
  border-color: #c3e6cb;
}

/* Fin du Header */

/* ---------------PAGE HOME-------------------- */
#home #mainTitreImg h1 {
  font-size: 2rem;
  color: var(--textBlack);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
/* bloc du h1 et de l'image */
#home #mainTitreImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* taille image home */
#home #mainTitreImg img {
  width: 50px;
  height: 50px;
  margin-bottom: auto;
}

#home h2 {
  text-align: center;
  padding: 30px;
}

/* bloc home film */
#home .movieCardsHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* images des cards des 3 derniers film ajouté */
#home .movieCardImgHome img {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

/* titre des films des 3 derniers film ajouté  */
#home h3 {
  color: var(--textBlack);
  margin-left: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
}
/* paragraphe des movie  */
#home .movieCardHome p {
  margin: 10px;
  color: #555;
  overflow: hidden;
  margin-bottom: 10px;
}

/* bloc des cards */
#home .movieCardHome {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--textWhite);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#home .movieCardHome a {
  text-decoration: none;
}

/* hover de la cards */
#home .movieCardHome:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
/* masquer une partie de la description */

#home .fullDescription {
  display: none;
}

/* button qui dirige vers la page details d'un film */
#home .buttonMovie {
  background-color: var(--buttonGreen);
  border: none;
  color: var(--textWhite);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}
/* hover du bouton */
#home .buttonMovie:hover {
  background-color: var(--buttonGreen);
}

/* -------------------------------------------PAGE A PROPOS------------------------------------------------ */

.about {
  background-color: var(--backgroundPage);
  color: #fff;
  padding: 40px;
}

.about h2 {
  text-align: center;
  margin-bottom: 20px;
}

.about h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

.about p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: center;
}

.about a {
  color: var(--buttonValid);
  text-decoration: none;
}

.about a:hover {
  color: var(--hoverLien);
}

.about h4 {
  text-align: center;
  font-size: 1.2rem;
}
/* taille de l'image de chucky */
.about img {
  object-fit: cover;
  max-width: 50%;
  display: block;
  margin: 20px auto;
  height: auto;
}



/* -------------------------------------PAGE Profil------------------------------------------------------ */

/* Profil */
#profil {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#profil #sectionProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#profil #nameTitle {
  margin-bottom: 20px;
}

#profil img {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
  margin-bottom: 20px;
}

#profil form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}

#profil form label {
  font-weight: bold;
  margin-bottom: 5px;
}

#profil form input {
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#profil form button {
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--textWhite);
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#profil form button:hover {
  background-color: var(--buttonGreen);
}

/*------------PAGE FAVORIS------------------------ */

#favoris h2 {
  text-align: center;
  margin-top: 20px;
}

/* section favoris */
#favoris .movieCardsHome {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* images des cards des films aimés */
#favoris .movieCardImgHome img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* titre des films aimés  */
#favoris h3 {
  color: var(--textBlack);
  text-align: center;
  text-transform: uppercase;
}
/* paragraphe des films des favoris  */
#favoris .movieCardHome p {
  margin: 10px;
  color: #555;
  overflow: hidden;
  margin-bottom: 10px;
}

/* bloc des cards */
#favoris .movieCardHome {
  width: 28%;
  margin: 30px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--textWhite);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#favoris .movieCardHome a {
  text-decoration: none;
}
#favoris h2 {
  color: var(--textBlack);
}

/* hover de la cards */
#favoris .movieCardHome:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

/* masquer une partie de la description */
#favoris .fullDescription {
  display: none;
}

/* button qui dirige vers la page details d'un films */
#favoris .buttonMovie {
  background-color: var(--buttonGreen);
  border: none;
  color: var(--textWhite);
  padding: 10px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 0;
  font-size: 0.9rem;
}
/* hover du bouton */
#favoris .buttonMovie:hover {
  background-color: var(--buttonGreen);
}

/* -----------PAGE AJOUTER UN FILM--------------------------- */

#createMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  padding-bottom: 30px;
  background-color: var(--textWhite);
}
#createMovie h2 {
  margin-top: 20px;
}

#createMovie #textBeforeAddingFilm {
  text-align: justify;
  margin: auto;
}

#createMovie #textBeforeAddingFilm h2 {
  padding: 20px;
  color: var(--textWhite);
  text-align: center;
}

/* Styles pour la carte */
#createMovie #blockAddAFilm {
  background-color: var(--textWhite);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Styles pour le formulaire */
#createMovie #blockAddAFilm form label {
  display: block;
  font-weight: bold;
  margin-top: 16px;
}

#createMovie #blockAddAFilm form input[type="text"],
form input[type="date"],
form input[type="number"],
form textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* resize le textarea */

#createMovie #description {
  resize: none;
}

#createMovie #blockAddAFilm form button {
  display: block;
  background-color: #e80a0a;
  color: var(--textWhite);
  font-size: 1.1rem;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#createMovie #blockAddAFilm form button:hover {
  background-color: var(--buttonValid);
}

/* ------------------PAGE MODIFIER UN FILM----------- */

#update {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  padding-bottom: 30px;
}
#update h2 {
  margin-top: 20px;
}

#update #textBeforeUpdateFilm {
  text-align: center;
}

/* Styles pour la carte */
#update #blocUpdateFilm {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Styles pour le formulaire */
#update #blocUpdateAFilm form label {
  display: block;
  font-weight: bold;
  margin-top: 16px;
}

#blocUpdateAFilm form input[type="text"],
form input[type="date"],
form input[type="number"],
form textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* resize le textarea du formulaire */

#update #updateDescription {
  resize: none;
}

#update #blocUpdateAFilm form button {
  display: block;
  background-color: #e80a0a;
  color: var(--textWhite);
  font-size: 1.1rem;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#update #blocUpdateAFilm form button:hover {
  background-color: var(--buttonValid);
}

/* ------------------------PAGE MENTIONS LEGALS ----------------------------------------------------------- */

#blocMention {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  line-height: 1.5rem;
  text-align: justify;
}

#blocMention h2 {
  margin-bottom: 20px;
  text-align: center;
}

#blocMention h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#blocMention p {
  margin-bottom: 15px;
}

#blocMention a {
  color: dimgray;
  font-weight: bold;
  text-decoration: none;
}

#blocMention a:hover {
  color: var(--hoverLien);
}

/* --------------------PAGE RGPD--------------------------- */

#blocRGPD {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  line-height: 1.5;
  text-align: justify;
}

#blocRGPD h2 {
  text-align: center;
  margin-bottom: 30px;
}

#blocRGPD h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

#blocRGPD p {
  line-height: 1.5;
  margin-bottom: 20px;
}

#blocRGPD ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

#blocRGPD a {
  font-weight: bold;
  text-decoration: none;
  color: var(--textBlack);
}

#blocRGPD a:hover {
  text-decoration: underline;
}

/* --------------------PAGE INSCRIPTION------------------- */

/* Couleur de fond du conteneur principal */
#pageInscription {
  background-color: var(--backgroundPage);
}

/* Section formulaire */
#pageInscription section {
  padding: 40px 0 30px 0;
}

/* Formulaire inscription */
#pageInscription form {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: var(--textWhite);
  padding-bottom: 10px;
}

/* Titre du formulaire inscription */
#titreRegister {
  margin-top: 10px;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

/* Labels */
#pageInscription label {
  display: block;
  margin-bottom: 10px;
}

#pageInscription label a {
  text-transform: uppercase;
  color: red;
}

#pageInscription label a:hover {
  color: var(--buttonValid);
}

/* Inputs */
#pageInscription input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* bloc page Login */
#pageInscription #pageLogin {
  margin-top: 20px;
}

#pageInscription #pageLogin p {
  margin-bottom: 30px;
}

#pageInscription #pageLogin a {
  color: var(--hoverLien);
}

#pageInscription #pageLogin a:hover {
  color: var(--buttonValid);
}

/* Button inscription */
#pageInscription button[type="submit"] {
  background-color: var(--hoverLien);
  color: var(--textWhite);
  font-size: 1rem;
  font-family: var(--buttonFamily);
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#pageInscription button[type="submit"]:hover {
  background-color: var(--buttonValid);
}

/* image après formulaire d'inscription avec une petite animation avec l'opacity */

#imgRegister {
  margin-top: 30px;
  width: 100%;
  height: 600px;
  animation: imgAnimation 8s infinite alternate ease-in-out;
  -webkit-animation: imgAnimation 8s infinite alternate ease-in-out;
}

@keyframes imgAnimation {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* ------------------PAGE CONNEXION----------------------------- */
#pageConnection {
  background-color: var(--backgroundPage);
}

/* Section formulaire */
#pageConnection section {
  padding: 30px 0 30px 0;
}

/* Formulaire inscription */
#pageConnection form {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: var(--textWhite);
}

/* Titre du formulaire */
#titreConnection {
  margin-top: 10px;
  color: var(--textWhite);
  text-align: center;
  padding-bottom: 20px;
}

/* Labels */
#pageConnection label {
  display: block;
  margin-bottom: 10px;
}

#pageConnectionlabel a {
  text-transform: uppercase;
  color: var(--buttonRed);
}

#pageConnection label a:hover {
  color: var(--buttonValid);
}

/* Inputs */
#pageConnection input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* bloc page Login */
#pageConnection #pageLogin {
  margin-top: 20px;
}

#pageConnection #pageLogin p {
  margin-bottom: 30px;
}

#pageConnection #pageLogin a {
  color: var(--hoverLien);
}

#pageConnection #pageLogin a:hover {
  color: var(--buttonValid);
}

/* Button inscription */
#pageConnection button[type="submit"] {
  background-color: var(--hoverLien);
  color: var(--textWhite);
  font-size: 1rem;
  font-family: var(--buttonFamily);
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#pageConnection button[type="submit"]:hover {
  background-color: var(--buttonValid);
}
/* /* image après formulaire de connexion + animation connexion */
#imgLogin {
  margin-top: 30px;
  width: 100%;
  height: 600px;
  animation: imgAnimation 6s infinite alternate ease-in-out;
  -webkit-animation: imgAnimation 6s infinite alternate ease-in-out;
}

@keyframes imgAnimation {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}

/* ---------------------------PAGE CONTACT---------------------------- */
#pageContact {
  background-color: var(--backgroundPage);
  padding-top: 20px;
}

/* div des paragraphes */

#blocContactParagraph {
  width: 80%;
  margin: 0 auto;
}

#pageContact p {
  font-size: 1.3rem;
  color: var(--textWhite);
  margin-bottom: 20px;
  line-height: 1.4;
  text-align: center;
}

/* mettre une marge sur le deuxieme paragraphe */
#pageContact p:first-of-type {
  margin-bottom: 20px;
}

/* image de la page contact */

#pageContact img {
  max-width: 50%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  padding-top: 20px;
}

/* Section formulaire */
#pageContact section {
  padding: 10px 0 30px 0;
}

/* Formulaire contact */
#pageContact form {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: var(--textWhite);
  margin-top: 30px;
}

/* Titre du formulaire */
h2#titleContact {
  color: var(--textWhite);
  text-align: center;
  margin-bottom: 30px;
}

/* Labels */
#pageContact label {
  display: block;
  margin-bottom: 10px;
}

/* Inputs et textarea */
#pageContact input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

#pageContact textarea {
  height: 200px;
  resize: none;
}

/* Button envoi */
#pageContact button[type="submit"] {
  background-color: var(--hoverLien);
  color: var(--textWhite);
  font-size: 1rem;
  font-family: var(--buttonFamily);
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#pageContact button[type="submit"]:hover {
  background-color: var(--buttonValid);
}

/* -----------------------PAGE LISTE DE FILMS.php------------------------------ */
#listMovie h2 {
  text-align: center;
  margin-top: 20px;
}
/* section list */
#listMovie .movieCardsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* images des cards de la liste */
#listMovie .movieCardList img {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

/* titre des films de la liste  */
#listMovie h3 {
  color: var(--textBlack);
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}
/* paragraphe des films dans la liste */

#listMovie .movieCardList p {
  margin: 10px;
  color: #555;
  overflow: hidden;
  margin-bottom: 10px;
}

/* bloc des cards */
#listMovie .movieCardList {
  width: 30%;
  margin: 30px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--textWhite);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/* masquer une partie de la description */
#listMovie .fullDescription {
  display: none;
}
#listMovie .movieCardList a {
  text-decoration: none;
}

/* hover de la cards */
#listMovie .movieCardList:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

/* flexbox pour gerer les boutons  */

#listMovie .listButtonLike {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* button qui dirige vers la page details d'un films */
#listMovie .listButtonLike .buttonDescriptionMovie {
  background-color: var(--buttonGreen);
  border: none;
  color: var(--textWhite);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* hover du bouton */
#listMovie .listButtonLike .buttonDescriptionMovie:hover {
  background-color: var(--hoverGreen);
}

/* bouton like */
#listMovie .listButtonLike form .buttonLike {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  background-color: var(--buttonGreen);
  color: var(--textWhite);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#listMovie .listButtonLike form .buttonLike:hover {
  cursor: pointer;
  background-color: var(--buttonGreen);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* bouton dislike */

#listMovie .listButtonLike form .buttonDislike {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  background-color: gold;
  color: var(--textWhite);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#listMovie .listButtonLike form .buttonDislike:hover {
  cursor: pointer;
  background-color: goldenrod;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#listMovie .buttonAdmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#listMovie .buttonAdmin form .buttonUpdate {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  border: none;
  background-color: rgb(195, 195, 195);
  color: var(--textWhite);
  border-radius: 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#listMovie .buttonAdmin form .buttonUpdate:hover {
  cursor: pointer;
  background-color: gray;
}

#listMovie .buttonAdmin form .buttonDelete {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  border: none;
  background-color: var(--buttonRed);
  color: var(--textWhite);
  border-radius: 10px;
}
#listMovie .buttonAdmin form .buttonDelete:hover {
  cursor: pointer;
  background-color: var(--hoverLien);
}

/* -----------------PAGE DETAILS D'UN FILM------------- */

#movieDetails {
  background-color: #f8f9fa;
  padding: 16px;
  margin: 0 auto;
}

#movieDetails .movieDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
/* titre du film */

#movieDetails .movieTitle {
  font-weight: bold;
  color: #9f3838;
  margin-top: 16px;
}
/* bloc image du film */

#movieDetails .movieImageContainer {
  max-width: 400px;
  margin: 16px;
  text-align: center;
}
/* image du film */

#movieDetails .movieImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
/* details du film */
#movieDetails .movieDetailsContent {
  margin: 25px;
}

#movieDetails .movieDetailsContent p {
  color: #f84d4d;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
  text-align: justify;
}

#movieDetails .movieDetailsContent p strong {
  color: #2c3e50;
}

/* -------------PAGE ERROR 404------------------- */

#error404 {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#error404 #pageError404 {
  text-align: center;
}

#error404 #imgError404 {
  width: 100%;
  max-width: 600px;
}

#error404 p {
  margin-top: 16px;
}

#error404 a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#error404 a:hover {
  color: var(--hoverLien);
}

/* ------------------Footer------------------------ */

/* Styles pour le footer */
footer {
  background-image: linear-gradient(to top, #ff0000, #000000);
  color: var(--textWhite);
  padding: 0 10px;
  width: 100%;
}

/* logo footer */

footer #logoFooter #imgLogoFooter {
  height: 80px;
}

/* bloc qui englobe le logo et le menu footer */

footer #blocFooter {
  display: flex;
  width: 100%;
}
/* menu footer  */

footer #footerLinks {
  margin: auto;
}
/*  menu footer a */
footer #footerLinks a {
  text-decoration: none;
  color: var(--textWhite);
  margin: 0 30px;
  font-size: 1.1rem;
  font-family: "Creepster", sans-serif;
  transition: color 0.7s ease;
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  -webkit-transition: color 0.7s ease;
  -moz-transition: color 0.7s ease;
  -ms-transition: color 0.7s ease;
  -o-transition: color 0.7s ease;
}

/* hover du menu  */

footer #footerLinks a:hover {
  color: var(--hoverLien);
}
/* paragraphe de fin  */

footer #footerCopyright {
  text-align: center;
  font-size: 1rem;
  color: var(--textBlack);
}

/* Fin du footer */

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------HEADER HORROR NOTICE RESPONSIVE---------------------------------------------------------------- */

/* Pour les ecrans entre 200px et 1200px j'active le menu burger  */

@media (min-width: 200px) and (max-width: 1200px) {
  header #navHeader #burger {
    display: initial;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  header #navHeader {
    display: flex;
    justify-content: space-between;
  }

  header #navHeader #burger i {
    font-size: 2.2rem;
  }

  header #navHeader #ulMenuHeader {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(25, 25, 25);
    overflow-x: hidden;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.6s ease-in-out, visibility 0s linear 0.6s,
      opacity 0.6s ease-in-out;
    -webkit-transition: transform 0.6s ease-in-out, visibility 0s linear 0.6s,
      opacity 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out, visibility 0s linear 0.6s,
      opacity 0.6s ease-in-out;
    -ms-transition: transform 0.6s ease-in-out, visibility 0s linear 0.6s,
      opacity 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out, visibility 0s linear 0.6s,
      opacity 0.6s ease-in-out;
  }

  header #navHeader #ulMenuHeader.open {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition: transform 0.6s ease-in-out, visibility 0s linear 0s,
      opacity 0.6s ease-in-out;
    -webkit-transition: transform 0.6s ease-in-out, visibility 0s linear 0s,
      opacity 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out, visibility 0s linear 0s,
      opacity 0.6s ease-in-out;
    -ms-transition: transform 0.6s ease-in-out, visibility 0s linear 0s,
      opacity 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out, visibility 0s linear 0s,
      opacity 0.6s ease-in-out;
  }

  header #navHeader #close {
    display: flex;
    width: 100%;
    justify-content: end;
    cursor: pointer;
  }

  header #navHeader #close i {
    font-size: 2.2rem;
    margin: 10px;
  }

  header #navHeader #ulMenu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  header #navHeader #ulMenu li {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  header #navHeader #ulMenu li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }

  header #navHeader #buttonAuthentification {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header #navHeader #buttonAuthentification button {
    margin: 10px;
  }

  /* diminuer taille de des polices pour le responsiv */
  .about h3 {
    font-size: 1rem;
  }
  .about p {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 0.8rem;
  }

  #home #mainTitreImg h1 {
    text-shadow: none;
    font-size: 1.2rem;
    text-align: center;
  }
  h2 {
    font-size: 1.1rem;
    text-align: center;
  }
  h3 {
    font-size: 0.7rem;
    text-align: center;
  }

  a {
    font-size: 0.8rem;
  }

  #favoris h2 {
    padding: 0;
  }

  #blocRGPD h2 {
    text-align: center;
  }

  #favoris .buttonMovie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px auto;
    font-size: 0.7rem;
  }

  #blocRGPD ul li {
    font-size: 0.9rem;
    text-align: center;
  }
}

/* pour les tablettes */

@media (min-width: 769px) and (max-width: 1200px) {
  /* -----------------page home--------------------- */
  #home #mainTitreImg h1 {
    font-size: 1.3rem;
    margin-top: 10px;
  }
  #home #mainTitreImg img {
    margin-bottom: 10px;
  }
  #home .movieCardHome {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #listMovie .movieCardList {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #listMovie .listButtonLike {
    display: flex;
    flex-direction: column;
  }

  /* fleche pour retourner a la liste des films (PAGE A PROPOS)*/

  .about #backList {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
  }
  /* page listr de film */

  /* bloc list film */

  #titleList {
    text-align: center;
    border-bottom: 2px solid #333;
  }

  /* page contact */

  #blocContactParagraph {
    width: 90%;
  }

  #pageContact img {
    width: 90%;
  }
}

/* page details du film */

#movieDetails {
  max-width: 80%;
}

/* pour les écrans jusqu'à 768px (tablettes) et mobile */

@media (max-width: 768px) {
  /* HEADER */
  header #logoHeader #imgLogoHeader {
    height: 60px;
  }
  /* -----------------------home------------------------------ */

  #home #mainTitreImg {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  /* bloc home film */
  #home .movieCardsHome {
    padding: 0;
    margin: auto;
  }

  /* page favoris */

  #home .movieCardHome {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* page list */

  #listMovie .movieCardList {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #listMovie .listButtonLike {
    display: flex;
    flex-direction: column;
  }

  #listMovie .buttonAdmin {
    display: flex;
    justify-content: space-between;
  }

  /* -------a propos-------------- */

  /* /* taille de l'image de chucky */

  #about img {
    max-width: 70%;
  }

  /* fleche pour retourner a la liste des films */

  #backList {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
  }

  /* page favoris */

  #favoris .movieCardHome {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* page inscription */

  /* formulaire inscription */

  #pageInscription form {
    max-width: 350px;
  }

  /* section formulaire */

  #pageInscription section {
    padding: 30px 0 30px 0;
  }

  /* page connexion */

  #pageConnexion form {
    max-width: 350px;
  }

  #pageConnexion section {
    padding: 30px 0 30px 0;
  }

  /* page mentions legals  */

  #blocMention {
    padding: 20px;
    max-width: 90%;
  }

  /* rgpd */

  #blocRGPD {
    max-width: 90%;
    padding: 20px;
  }

  #blocRGPD h3 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  #blocRGPD ul li {
    font-size: 0.9rem;
    text-align: center;
  }

  /* page contact */

  #pageContact form {
    max-width: 400px;
  }

  #profil img {
    width: 300px;
    height: auto;
  }

  /* footer */

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer #logoFooter #imgLogoFooter {
    margin: 20px auto;
    display: flex;
  }
  footer #blocFooter {
    display: block;
    margin: 0 auto;
    align-items: center;
  }

  footer #footerLinks {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-self: center;
  }

  footer #footerLinks a {
    margin: 0 auto;
    display: flex;
    padding: 15px;
  }

  footer #footerCopyright {
    font-size: 0.9rem;
    margin-top: 10px;
  }
}

/*  pour les écrans jusqu'à 480px (petits téléphones) */
@media (max-width: 480px) {
  /* HEADER */
  header #logoHeader img {
    height: 50px;
  }
  /* ----home---- */

  /* bloc du h1 et de l'image */
  #home #mainTitreImg {
    padding: 10px;
    margin: 0 auto;
  }
  #home #mainTitreImg img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  /* ----a propos---- */

  /* taille de l'image de chucky */
  .about img {
    max-width: 100%;
  }
  /* fleche pour retourner a la liste des films */
  .about #backList {
    font-size: 0.8rem;
  }

  /* page inscription */

  /* formulaire inscription */

  #pageInscription form {
    max-width: 280px;
  }
  /* page connexion */

  #pageConnection form {
    max-width: 280px;
  }

  /* page contact */

  #pageContact form {
    max-width: 300px;
  }

  /* FOOTER */
  footer #logoFooter #imgLogoFooter {
    margin-bottom: 10px;
  }

  footer #footerLinks a {
    margin: 0 auto;
  }
}
